
<div class='kanban_view'>
  <div class='kanban_controls'>
    <div class='add_card'>
      <input class='add_card_input'  [(ngModel)]="task" type="text" placeholder="New Task Name">
      <button class='add_card_btn' (click)="onAddCard()">Add</button>
    </div>
  </div>
  
</div>




<div  class='kanban_stage_container' cdkDropListGroup>


  <div class='kanban_stage'>
    <h2 class='kanban_header'>Backlog</h2>
    
    <div
      id="backLog"
        cdkDropList
        [cdkDropListData]="backLogItems"
        cdkDropListConnectedTo="toDo"
        (cdkDropListDropped)="drop($event)"      
        class='kanban_card_container' >
        <div class="kanban_card" *ngFor="let item of backLogItems" cdkDrag>
          <div class="container">
            <button class = "close" (click)="onCardDelete(item)">
                X
            </button> 
  
          {{item}}

          </div>
         
        </div>
      </div> 

  </div>

  <div class='kanban_stage'>
    <h2 class='kanban_header'>To Do</h2>

     
      <div
      id="toDo"
        cdkDropList
        [cdkDropListData]="toDoItems"
        cdkDropListConnectedTo="onGoing"
        class='kanban_card_container'
        (cdkDropListDropped)="drop($event)">
        <div class="kanban_card" *ngFor="let item of toDoItems" cdkDrag>
          {{item}} 

         
        </div>
      </div> 

    
  </div>

  <div class='kanban_stage'>
    <h2 class='kanban_header'>Ongoing</h2>
   
    <div
    id="onGoing"
      cdkDropList
      [cdkDropListData]="onGoingItems"
      cdkDropListConnectedTo="done"
      class="kanban_card_container"
      (cdkDropListDropped)="drop($event)"
      >
      <div class="kanban_card" *ngFor="let item of onGoingItems" cdkDrag>{{item}}</div>
    </div>


  </div>

  <div class='kanban_stage'>
    <h2 class='kanban_header'>Done</h2>
    <div
    id="done"
      cdkDropList
      [cdkDropListData]="doneItens"
      cdkDropListConnectedTo="backLog"
      class="kanban_card_container"
      (cdkDropListDropped)="drop($event)"      >
      <div class="kanban_card" *ngFor="let item of doneItens" cdkDrag> 
        {{item}} 
       </div>
    </div>
  </div>

  </div>


  